.fix-bord{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
}

@media print {
    .printPageButton {
      display: none;
    }
  }

.back-button{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5px;
  margin-top: 5px;
}

.error-message {
  color: red;
  font-size: 12px;
}

.error-message-container {
  display: block !important;
  align-items: center;
  margin-top: -17px;
  margin-left: 5px;
}

.error-container {
  display: block;
}

.error-name{
  border: 1px solid;
  color: #E85445;
  background-color: #FAEDEC;
}

.fix-age-bord{
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
}

.fix-type-bord{
  border-top-left-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important; 
}

textarea {
  resize: none;
}