.fix-bord{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
}

.fix-bord-button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ng-autocomplete {
    
    }
    
    .ng-autocomplete ::ng-deep .autocomplete-container {
    box-shadow: none;
    }
    
    .ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
    font-weight: 600;
    font-size: 1rem;
    color: #495057;
    border: 1px solid #dde6e9;
    border-radius: 0.25rem;
    }
    
    .ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .suggestions-container ::ng-deep .item ::ng-deep .row {
    padding: 0.5rem 1rem;
    }
    
    .ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .not-found {
    border: 0;
    }

    .export-button{
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 5px;
        margin-top: 5px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #D3D3D3; /* cor de fundo do botão */
        color: #fff; /* cor do ícone */
        border: none;
        outline: none;
        cursor: pointer;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); /* sombra do botão */;
      }
  
      .export-button:hover {
        background-color: #007bff;
        color: #fff;
      }